<div>
  <app-monitor-control></app-monitor-control>
  <mat-tab-group>
    <mat-tab label="filter">
      <app-observable-monitor name="filter" [observable]="filter$"></app-observable-monitor>
      <app-observable-monitor name="take" [observable]="take$"></app-observable-monitor>
      <app-observable-monitor name="distinct" [observable]="distinct$"></app-observable-monitor>
<!--      <app-observable-monitor name="distinctUntilChanged" [observable]="distinctUntilChanged$"></app-observable-monitor>-->
    </mat-tab>
    <mat-tab label="takeUntil">
      <app-observable-monitor name="interval" [observable]="interval$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="takeUtilSign" [observable]="takeUtilSign$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="takeUtil" [observable]="takeUtil$" [autoSub]="true"></app-observable-monitor>
    </mat-tab>
    <mat-tab label="Combination">
<!--      <app-observable-monitor name="startWith" [observable]="startWith$"></app-observable-monitor>-->
      <mat-divider></mat-divider>
      <app-observable-monitor name="observable1" [observable]="observable1$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="observable2" [observable]="observable2$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="merge" [observable]="merge$" [autoSub]="true"></app-observable-monitor>
      <mat-divider></mat-divider>
      <app-observable-monitor name="observable1" [observable]="observable1$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="observable2" [observable]="observable2$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="concat" [observable]="concat$" [autoSub]="true"></app-observable-monitor>
    </mat-tab>
    <mat-tab label="Combination-combineLatest">
      <app-observable-monitor name="observable1" [observable]="observable1$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="observable2" [observable]="observable2$" [autoSub]="true"></app-observable-monitor>
      <app-observable-monitor name="combineLatest" [observable]="combineLatest$" [autoSub]="true"></app-observable-monitor>
    </mat-tab>
<!--    <mat-tab label="Combination-forkJoin">-->
<!--      <app-observable-monitor name="observable1" [observable]="observable1$" [autoSub]="true"></app-observable-monitor>-->
<!--      <app-observable-monitor name="observable2" [observable]="observable2$" [autoSub]="true"></app-observable-monitor>-->
<!--      <app-observable-monitor name="forkJoin" [observable]="forkJoin$" [autoSub]="true"></app-observable-monitor>-->
<!--    </mat-tab>-->
    <mat-tab label="Transformation">
      <app-observable-monitor name="map" [observable]="map$"></app-observable-monitor>
<!--      <app-observable-monitor name="mapTo" [observable]="mapTo$"></app-observable-monitor>-->
<!--      <app-observable-monitor name="pluck" [observable]="pluck$"></app-observable-monitor>-->
      <app-observable-monitor name="reduce" [observable]="reduce$"></app-observable-monitor>
      <app-observable-monitor name="scan" [observable]="scan$"></app-observable-monitor>
    </mat-tab>
  </mat-tab-group>
</div>
