<div>
  <app-monitor-control></app-monitor-control>
  <mat-tab-group>
    <mat-tab label="Sync">
      <app-observable-monitor name="of" [observable]="of$"></app-observable-monitor>
<!--      <app-observable-monitor name="from" [observable]="from$"></app-observable-monitor>-->
<!--      <app-observable-monitor name="range" [observable]="range$"></app-observable-monitor>-->
    </mat-tab>
    <mat-tab label="Async">
      <app-observable-monitor name="interval" [observable]="interval$"></app-observable-monitor>
      <app-observable-monitor name="timer" [observable]="timer$"></app-observable-monitor>
      <app-observable-monitor name="fromEvent" [observable]="fromEvent$"></app-observable-monitor>
<!--      <app-observable-monitor name="create" [observable]="create$"></app-observable-monitor>-->
    </mat-tab>
  </mat-tab-group>
</div>
