<div>
  <app-monitor-control></app-monitor-control>
  <mat-tab-group>
    <mat-tab label="Cold">
      <app-observable-monitor name="interval1" [observable]="interval$"></app-observable-monitor>
      <app-observable-monitor name="interval2" [observable]="interval$"></app-observable-monitor>
    </mat-tab>
    <mat-tab label="Publish">
      <app-observable-monitor name="publish1" [observable]="publish$"></app-observable-monitor>
      <app-observable-monitor name="publish2" [observable]="publish$"></app-observable-monitor>
    </mat-tab>
    <mat-tab label="Share">
      <app-observable-monitor name="share1" [observable]="share$"></app-observable-monitor>
      <app-observable-monitor name="share2" [observable]="share$"></app-observable-monitor>
    </mat-tab>
    <mat-tab label="ShareReply">
      <app-observable-monitor name="ShareReply1" [observable]="shareReplay$"></app-observable-monitor>
      <app-observable-monitor name="ShareReply2" [observable]="shareReplay$"></app-observable-monitor>
    </mat-tab>
  </mat-tab-group>
</div>
